services:
  backend-http:
    build:
      context: ./backend
      dockerfile: Dockerfile.http
    container_name: app-backend-http
    env_file:
      - ./backend/.env
    networks:
      - internal
    restart: unless-stopped

  backend-worker:
    build:
      context: ./backend
      dockerfile: Dockerfile.worker
    container_name: app-backend-worker
    env_file:
      - ./backend/.env
    networks:
      - internal
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
    container_name: app-frontend
    ports:
      - "80:80"
    depends_on:
      - backend-http
    networks:
      - internal
    restart: unless-stopped
  postgres:
    image: postgres:16-alpine
    container_name: app-postgres
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data
      # cf. https://hub.docker.com/_/postgres#initialization-scripts
      - ./backend/deployments/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - internal
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    container_name: app-redis
    networks:
      - internal
    restart: unless-stopped
  minio:
    image: minio/minio:latest
    container_name: app-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - internal
    restart: unless-stopped

networks:
  internal:
    driver: bridge

volumes:
  pgdata:
  minio-data: